[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/themes/roots/assets/css/less/buckle"]
	path = content/themes/roots/assets/css/less/buckle
	url = git@github.com:TyBruffy/buckle.git
